<section id="section-about" class="clearfix about">
    <img src="/assets/bio-palm-shadow-left.png" alt="Palm Leaf Shadow" class="about__palm-background">

    <div class="heading center">
        <h2 class="heading__main">Meet Dr. Sarah</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-7">
                <h4 class="about__doctor">Sarah Mathias, DDS, MS</h4>
                <h5 class="about__byline">Board Certified Pediatric Dentist</h5>
                <p class="about__copy">Doctor Sarah Mathias is a different kind of dentist. With her child-oriented
                    style and fun personality, she gets children excited about their dental care, helping them develop
                    healthy habits that will last a lifetime. During her doctoral studies at the University of Iowa,
                    “Dr. Sarah” found that she especially enjoyed connecting with children to create a positive dental
                    experience. This passion led her to Chicago, where she earned a master’s degree in oral sciences and
                    a specialty degree in pediatric dentistry—a distinction held by fewer than three percent of all
                    dentists.Doctor Sarah Mathias is a different kind of dentist. With her child-oriented style and fun
                    personality, she gets children excited about their dental care, helping them develop healthy habits
                    that will last a lifetime. During her doctoral studies at the University of Iowa, “Dr. Sarah” found
                    that she especially enjoyed connecting with children to create a positive dental experience. This
                    passion led her to Chicago, where she earned a master’s degree in oral sciences and a specialty
                    degree in pediatric dentistry—a distinction held by fewer than three percent of all dentists.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-7">
                <p class="about__copy">When she’s not practicing dentistry, Dr. Sarah enjoys spending time with her
                    husband, Dr. Bobby Ghandehari—an orthodontist—their sons, and Hans, their German shepherd rescue
                    puppy. Her pastimes include reading, personal fitness, scuba diving, and Formula One racing.</p>
                <div class="about__image-wrapper hidden-xs">
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-sm-6">
                <img src="/assets/ada.png" alt="American Dental Association" class="about__image">
                <img src="/assets/board-logo.png" alt="American Board of Pediatric Dentistry" class="about__image">
            </div>
        </div>
    </div>

    <div class="about__sarah-background-wrapper">
        <img src="/assets/sarah.png" alt="{{ mainDoctor }}" class="about__sarah-background">
    </div>
</section>
<div class="mobile-associations-fix--mathias hidden-sm hidden-md hidden-lg">
    <img src="/assets/ada.png" alt="American Dental Association" class="about__image">
    <img src="/assets/board-logo.png" alt="American Board of Pediatric Dentistry" class="about__image">
</div>
