<section id="section-forms" class="page-section">
    <img src="/assets/marsupial.png" alt="Friendly Marsupial" class="forms-marsupial-image">
    <div class="container center">
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <div class="heading">
                    <h2 class="heading__title">Patient Forms</h2>
                    <p class="heading__copy">Please fill out the forms to save time in the office. We know your time is valuable
                        and want to give you and your child the best experience possible.</p>
                    {#<h5 class="heading__byline">Please download and complete the following forms<br>before your scheduled appointment</h5>#}
                </div>
            </div>
        </div>
        <div class="forms__btn-wrapper">
            <a href="https://www.ident.ws/template_include/new_patient_sign_in.do?site=6766&practiceId=25554&page=New+Patient+Sign+In" target="_blank" class="btn btn--style-three">New Patient Registration</a>
            {#<div class="line-break"></div>#}
            <a href="https://www.ident.ws/template_include/pi_login.jsp?site=6766&practiceId=25554&page=Patient+Information" target="_blank" class="btn btn--style-three">Existing Patient Login</a>
        </div>
        {#<p class="forms__copy">Adobe Acrobat is required to view the patient disclosure, health history form, and the motivational charts.<br>If you have trouble seeing the document or need accommodation, please contact our office.#}
            {#<br><a href="https://get.adobe.com/reader/" target="_blank">Click here to download the Acrobat Acrobat® software.</a></p>#}
    </div>
</section>
