<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/slides/slide-mobile.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</div>

<!-- Slider
============================================= -->
<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide1" style="background: url('assets/slides/slide-1-BG.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-bottom-right center">
                        <img src="assets/slides/slide1-layer2-sliders.png" alt="Discover how Jungle of Smiles can get your kid smiling again">
                        {#<h3 class="slide__copy">Now Welcoming New Patients</h3>#}
                        <a href="#" class="btn" data-scrollto="#section-specials" data-offset="80">New Patient Offers</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide2" style="background: url('assets/slides/slide-2.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-right center">
                        <h2 class="slide__title">"Amazing!"</h2>
                        <img src="assets/slides/slide-stars.png" alt="Five Stars" class="stars">
                        <h5 class="copy">“Both my kids are patients since 2015 and I love the front desk staff, the hygienists, and of course,
                            Dr. Mathias is incredible. The entire operation is honest, compassionate and fair. “ <strong>- The Grafals</strong></h5>
                        <a href="#" class="btn" data-offset="80" data-scrollto="#section-reviews">Read More Reviews</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide3" style="background: url('assets/slides/slide3.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix slide-content">
                    <div class="slider-caption slider-caption-right center">
                        <h2 class="title--no-insure">Is Your Baby Tongue Tied?</h2>
                        <h2 class="title--sub">Get Your Baby Smiling Again<br>with an Infant Frenectomy</h2>
                        {#<h3 class="preventative-copy">Get your preventive care<br>for a low monthly fee</h3>#}
                        <a href="#" class="btn" data-offset="80" data-scrollto="#section-services">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
