<section id="section-services" class="page-section">
    <div class="services-part-one__background">
        <img src="/assets/bio-palm-shadow-left.png" alt="Palm Leaf Shadow" class="services__palm-background">

        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-push-1">
                        <h2 class="heading__title">Services We Offer</h2>
                        <p class="heading__byline">Select a service below for more information. Remember, prevention is always better than treatment,
                            so if it’s been a while since your child has seen a dentist, please give us a call or click to <a href="#" data-toggle="modal" data-target="#requestAppointmentForm">request&nbsp;an&nbsp;appointment</a>.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="pediatric-slab">
            <div class="container">
                <div class="row">
                    <div class="pediatric-slab__image col-sm-6">
                        <img src="assets/services/pediatric-treatments.png" alt="Happy dental implant patient">
                    </div>
                    <div class="pediatric-slab__card col-sm-6">
                        <h2 class="pediatric-slab__title">Pediatric Treatments</h2>
                        <p class="pediatric-slab__copy">While most adults would agree with the importance of protecting their adult teeth, many overlook the developmental significance of the primary dentition, or "baby teeth." Most pediatric dental patients have both adult and baby teeth, or mixed dentition, and a pediatric dental specialist understands how proper care of both can lead to a lifetime of healthy smiles.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="frenectomy-slab" id="frenectomy-slab">
            <div class="container">
                <div class="row">
                    <div class="frenectomy-slab__image col-sm-6">
                        <img src="assets/services/frenectomy.png" alt="Happy dental implant patient">
                    </div>
                    <div class="frenectomy-slab__card col-sm-6">
                        <h2 class="frenectomy-slab__title">Infant Frenectomy</h2>
                        <p class="frenectomy-slab__copy">Well before your baby is born, you are committed to doing everything possible to help him or her grow up happy, strong and healthy. Sometimes, you both need extra help to accomplish this, and one common but easily treated problem some parents and infants face is a restrictive frenum. This is also called a frenulum and is commonly known as tongue-tie or lip-tie.</p>
                        <a href="http://www.lagunahillsfrenectomydentist.com/" target="_blank" class="btn btn--style-four">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="heading">
        <div class="container">
            <h2 class="heading__title">More Services</h2>
            <h5 class="heading__select-a-link">Select a link below for more information about our services and treatments.</h5>
        </div>
    </div>

    <div class="container">
        {% include 'molecules/pyramid-list.twig' %}
    </div>

    {% include 'molecules/services__modals.twig' %}

    <img src="/assets/services-bg-bottom.jpg" alt="{{ mainDoctor }} and happy patients" class="services-bottom-image hidden-md hidden-lg">
    <img src="/assets/desktop-services.jpg" alt="{{ mainDoctor }} and happy patients" class="services-bottom-image hidden-xs hidden-sm">
</section>