<section id="section-tour" class="tour page-section">

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="heading center">
                    <h2 class="heading__title">Office Tour</h2>
                    <p class="heading__copy">We look forward to meeting you and your family. Our fun, jungle-themed office is a
                        refreshing place to relax while getting your children’s dental work done, so make an appointment&nbsp;today!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="full-width-wrapper">
        <div class="container tour--full-width">
            {% include 'molecules/tour__carousel.twig' %}
        </div>
    </div>

</section>