a.btn,
button.btn {
  font-family: $ff-lato;
  font-weight: 400 !important;
  background-image: radial-gradient(circle, #fad961 0%, #f76b1c 100%);
  color: #000;
  border-radius: 30px;
  border: solid 3px #fff;
  padding: 10px 50px;
  transition: all 0.3s ease;

  @include font-size(22px, 21px, 19px, 18px, 16px);

  &:hover,
  &:focus {
    background-image: radial-gradient(circle, #fad961 0%, #fad961 25%, #f76b1c 100%);
    //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.46);
    text-decoration: none;
  }

  &.btn--style-two {
    background-image: none;
    background-color: #f88b1b;
    color: #000;
    //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.36);

    &:hover,
    &:focus {
      background-color: darken(#f88b1b, 15%);
      //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.46);
    }
  }

  &.btn--style-three {
    background-color: rgba(255, 255, 255, 0);
    color: #1e5879;
    border-color: #1e5879;

    &:hover,
    &:focus {
      //background-color: darken(#9ed5af, 15%);
      //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.46);
    }
  }

  &.shadowed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &.form-btn {
    width: 100%;
  }
}
