.location-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //background: $c-white;
  //margin: 30px 0;
  padding-top: 30px;
  padding-bottom: 60px;

  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0;
    padding-right: 0;
  }

  //&__office-image {
  //  padding-left: 20px;
  //  padding-right: 20px;
  //  width: 100%;
  //  max-width: 550px;
  //  margin-left: auto;
  //  margin-right: auto;
  //  @media (max-width: 991px) {
  //    order: -1;
  //  }
  //}

  &__logo {
    &--wrapper {
      //background-color: #323437;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 30px;

      @media (max-width: $width-md) {
        background: none;
      }
    }
    //max-height: 115px;
    width: 300px;
  }

  &__content {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__doctor {
    color: #5b4571;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;

    &--titles {
      @include font-size(28px, 26px, 24px, 24px, 22px);
    }
  }

  &__doctor-sub {
    color: #5b4571;
  }

  &__address {
    color: #1a202a;
    font-size: 20px;
  }

  &__map-link {
    color: #345a75;
    text-decoration: underline;
    font-size: 19px;
  }

  &__new-patient-text {
    color: #1a202a;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;
  }

  &__new-patient-number {
    display: block;
    font-size: 40px;
    font-weight: 900;
    color: #5b4571;
    font-family: $ff-lato;
    margin-bottom: 45px;
    line-height: 1;

    @include font-size(42px, 40px, 38px, 38px, 36px);

    &:hover {
      color: #1a202a;
      text-decoration: none;
    }
  }

  &__existing-patient-text {
    color: #5b4571;
    font-family: $ff-lato;
    margin-top: 15px;
    line-height: 1;
    margin-bottom: 25px;

    @include font-size(20px, 20px, 20px, 18px, 16px);
  }

  &__existing-patient-number {
    color: #5b4571;
    font-weight: 700;

    @include font-size(24px, 24px, 22px, 20px, 20px);

    &:hover {
      color: #1a202a;
      text-decoration: none;
    }
  }

  &__fax-text {
    color: #1a202a;
    margin-top: 20px;
    line-height: 1;
    margin-bottom: 5px;
    font-size: 20px;
  }

  &__fax-number {
    color: #1a202a;

    @include font-size(28px, 26px, 24px, 22px, 22px);
  }

  &__btn {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__welcoming-patients {
    color: #5b4571;
    font-family: $ff-lato;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.3;
  }

  &__social-media {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hours-table {
    table {
      margin-bottom: 0;
    }

    h5 {
      font-weight: 400;
      font-size: 28px;
      color: #345a75;
    }

    p {
      color: #1c1836;
      font-size: 18px;
      line-height: 1;
      margin: 0 auto;
    }
  }
}
