.pyramid-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 840px;

  @media (min-width: 768px) {
    height: 420px;
  }

  @media (min-width: 992px) {
    height: 280px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    font-size: 17px;

    @media (min-width: 768px) {
      width: 45%;
    }

    @media (min-width: 992px) {
      width: 32%;
    }

    &:nth-child(3n+1) {
      color: #00878f;

      a:hover {
        color: #00878f;
      }
    }

    &:nth-child(3n) {
      color: #457a00;

      a:hover {
        color: #457a00;
      }
    }

    &:nth-child(3n+2) {
      color: #e14f02;

      a:hover {
        color: #e14f02;
      }
    }
  }

  &__link {
    text-decoration: underline;
    padding-left: 15px;
    font-weight: 700;
    font-size: 17px;

    @media (min-width: 480px) {
      font-size: 20px;
    }
  }
}
