<div class="owl-carousel js-tour-carousel">
    <div>
        <img src="/assets/tour/01.jpg" alt="Outside the office">
    </div>
    <div>
        <img src="/assets/tour/02.jpg" alt="Waiting Room">
    </div>
    <div>
        <img src="/assets/tour/03.jpg" alt="Reception Desk">
    </div>
    <div>
        <img src="/assets/tour/04.jpg" alt="Comfortable waiting room chairs">
    </div>
    <div>
        <img src="/assets/tour/05.jpg" alt="Great art in the office">
    </div>
    <div>
        <img src="/assets/tour/06.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/07.jpg" alt="Clean well-lit office hallway">
    </div>
    <div>
        <img src="/assets/tour/08.jpg" alt="Great office art">
    </div>
    <div>
        <img src="/assets/tour/09.jpg" alt="Our kitchen">
    </div>
    <div>
        <img src="/assets/tour/10.jpg" alt="Our kitchen">
    </div>
    <div>
        <img src="/assets/tour/11.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/12.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/13.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/14.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/15.jpg" alt="The inside of our rooms">
    </div>
</div>