.about {
  position: relative;
  background: linear-gradient(#f3eece, #fff);

  &__sarah-background {
    width: 100%;
    max-width: 440px;

    &-wrapper {
      text-align: right;
    }

    @media (min-width: 768px) {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 330px;
    }

    @media (min-width: 992px) {
      max-width: 500px;
    }

    @media (min-width: 1200px) {
      max-width: 600px;
    }
  }

  .heading {
    z-index: 20;
    padding-top: 45px;
    padding-bottom: 30px;
    text-align: center;

    &__main {
      color: #023e49;
      font-weight: 700;
      font-family: $ff-pangolin;
      margin-bottom: 0;
      line-height: 1;
    }
  }

  &__doctor {
    color: #188070;
    margin-bottom: 5px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__byline {
    color: #188070;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__copy {
    position: relative;
    z-index: 20;
  }

  &__image {
    width: 49%;
    display: inline-block;
    margin-bottom: 45px;
  }
}

.mobile-associations-fix--mathias {
  text-align: center;

  img {
    max-width: 200px;
  }
}
