/// Call to Action Two to One Layout
.cta {
  position: relative;
  z-index: 100;
  //background-color: #00659f;
  background: radial-gradient(circle at center top, #7cac28, #1e6801);
  background-position: center;
  padding: 30px 0;
  border-top: solid 4px #fff;
  border-bottom: solid 4px #fff;

  &.shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  }

  &--background-two {
    background-color: #e4f3e9;
  }

  .flex-wrapper {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;

      .vertical-break {
        width: 2px;
        height: 100px;
        background-color: #fff;
      }
    }

    .cta__new {
      order: -2;
    }

    .cta__btn {
      order: 2;
    }

    &__item {
      width: 100%;
      padding: 0 25px;

      @media screen and (min-width: 768px) {
        width: 49%;

        &.cta__btn,
        &.cta__new {
          order: 0;
        }

        &:first-child {
          text-align: right;
        }

        &:last-child {
          text-align: left;
        }
      }
    }
  }

  &__new {
    &-text {
      font-family: $ff-lato;
      color: #ffda00;
      margin-bottom: 0;
      font-weight: 400;
    }

    &-number {
      color: #fff;
      font-family: $ff-lato;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0;
      padding: 5px 0 10px;

      @include font-size(42px, 40px, 36px, 28px, 28px);

      a {
        @include link-color(#fff);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  //&__btn {
  //
  //}

  &__existing-patient {
    color: #fff;
    line-height: 1;
    font-size: 24px;
    margin-bottom: 0;

    @media (max-width: 992px) {
      text-align: center;
    }

    .phone-number--existing {
      @include link-color(#fff);

      &:hover {
        text-decoration: none;
      }
    }
  }
}
