#header.full-header {

  $c-header: #fff;
  $c-menu-trigger: #444;
  $nav-font: $ff-open;

  width: 100%;
  height: 100px;
  border-bottom: solid 4px #f99c1b;

  &--transparent {
    position: absolute;

    @media screen and (max-width: $width-md) {
      position: relative;
      border-bottom: 0 solid;
    }
  }

  #primary-menu > ul {
    margin-right: 0;
    border-right: none;

    @include nav-color(#643f0a, 400);
    @include nav-color(#5d157b, 400, 1);
    @include nav-color(#0a8d95, 400, 2);
    @include nav-color(#619d11, 400, 3);
  }

  #primary-menu-trigger {
    font-size: 30px;
    pointer-events: auto;
    float: left;
    top: 15px;
  }

  #header-wrap {
    background-color: $c-header;
    border-bottom: 0;

    @media screen and (max-width: $width-md) {
      background-color: #fff;
    }
  }

  #logo {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-reorder {
    color: $c-menu-trigger;
  }

  #logo img {
    padding: 2px;
    padding-left: 5px;
    max-width: 300px;
    margin-bottom: -23px;
  }

  @media screen and (max-width: $width-md) {
    #logo {
      a {
        text-align: left;
        margin-right: auto;
        padding-left: 15px;
      }

      img {
        margin-left: auto;
        padding: $spacing-xs;
        max-width: 260px;
        margin-bottom: -27px;
      }
    }

    #primary-menu-trigger {
      left: auto;
      right: 0;
      color: #343b42;
      top: 15px;
    }
  }

  @media (min-width: 992px) {
    #primary-menu {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #primary-menu ul {
    min-height: 0;
  }

  #primary-menu ul li {
    @media screen and (max-width: $width-md) {
      border-top: 1px solid #000;
      background-color: #fff;

      &:last-child {
        border-bottom: 1px solid #000;
      }
    }

    &.current > a {
      text-decoration: underline;
    }
  }

  :not(.static-sticky) #primary-menu ul > li > a {
    font-family: $ff-pangolin;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0 10px;
    text-transform: none;
    transition: padding 0.3s ease;

    &:hover {
      text-decoration: underline !important;
    }

    @media screen and (max-width: 1300px) {
      font-size: 18px;
    }

    @media screen and (max-width: $width-lg) {
      font-size: 17px;
    }

    @media screen and (max-width: 1090px) {
      font-size: 17px;
    }

    @media screen and (max-width: 991px) {
      padding-left: 40px !important;
      font-size: 18px;
    }
  }
}

//resize header from Canvas
#header,
#header-wrap,
#logo {
  height: 80px !important;
  transition: height 0.4s ease, opacity 0.3s ease;

  @media (max-width: $width-md) {
    height: 80px !important;
  }
}

#logo img {
  height: 80px !important;
  transition: height 0.4s ease, opacity 0.3s ease;

  @media (max-width: $width-md) {
    height: 80px !important;
  }
}

#header.sticky-header:not(.static-sticky),
#header.sticky-header:not(.static-sticky) #header-wrap,
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img,
#header.sticky-header:not(.static-sticky) #logo {
  height: 82px !important;
}
