#slider {
  height: 36.45833vw !important;

  //.swiper-slide.slide1 {
  //  background-image: url('assets/slide1.jpg');
  //  background-position: 30% center;
  //}
  //.swiper-slide.slide2 {
  //  background-image: url('assets/slide3.jpg');
  //}
  //.swiper-slide.slide3 {
  //  background-image: url('assets/slide2.jpg');
  //  background-position: 30% center;
  //}

  .swiper-slide {
    > img {
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }

  .slide1 {
    .btn {
      margin-top: 60px;
    }
  }

  .slide2 {
    .slide__title {
      font-family: $ff-lato;
      color: #681989;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1;
      text-transform: none;

      @include font-size(53px, 50px);
    }

    .stars {
      padding-top: 10px;
      padding-bottom: 15px;
    }

    .copy {
      color: #332a46;
      font-weight: 400;
      margin-bottom: 25px;
      padding-right: 45px;
      line-height: 1.4;

      @include font-size(20px, 18px, 18px, 20px, 19px);
    }
  }

  .slide3 {
    .title--no-insure {
      color: #006c73;
      margin-bottom: 25px;
      line-height: 1;
      text-transform: none;

      @include font-size(45px, 40px, 35px);
    }

    .title--sub {
      color: #681989;
      font-weight: 400;
      line-height: 1.4;
      font-family: $ff-pangolin;
      margin-bottom: 10px;
      text-transform: none;

      @include font-size(40px, 38px, 30px);
    }

    .preventative-copy {
      color: #303030;
      line-height: 1;
      padding-top: 10px;

      @include font-size(38px, 32px);
    }

    .btn {
      @include lr-padding(80px, 60px, 60px);
    }

    .slider-caption {
      min-width: 700px;
    }
  }

  .icon-star3 {
    color: $c-star;
  }

  .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}
