#section-services {
  border-top: solid 4px #ffda00;
  position: relative;

  .services-part-one__background {
    position: relative;
    background: linear-gradient(#f3eece, #fff);
  }

  .services__palm-background {
    position: absolute;
    max-width: 300px;
  }

  .services-bottom-image {
    width: 100%;
    margin-top: -270px;

    @media (min-width: 550px) {
      margin-top: -440px;
    }

    @media (min-width: 768px) {
      margin-top: -620px;
    }

    @media (min-width: 992px) {
      margin-top: -140px;
    }

    @media (min-width: 1200px) {
      margin-top: -200px;
    }
  }

  .heading {
    text-align: center;

    &__title {
      color: #60338d;
      padding-top: $spacing-md;
      margin-bottom: 5px;
      line-height: 1;
      font-family: $ff-pangolin;
    }

    &__byline {
      color: #000;
      margin-bottom: 30px;

      a {
        color: #000;
        text-decoration: underline;
      }
    }
  }

  .slab-mobile-image {
    margin-top: -80px;
  }

  .pediatric-slab {
    &__card {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__title {
      color: #60338d;
      margin-bottom: 5px;
      line-height: 1;
      font-family: $ff-pangolin;
    }

    &__image {
      @media (min-width: 768px) {
        display: flex;
        justify-content: center;

        img {
          height: 100%;
          width: 100%;
          align-items: center;
        }
      }
    }

    &__copy {
      color: #000;
      line-height: 1.3;
    }

    @media (min-width: 768px) {
      .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .frenectomy-slab {
    &__card {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__title {
      color: #60338d;
      margin-bottom: 5px;
      line-height: 1;
      font-family: $ff-pangolin;
    }

    &__image {
      @media (min-width: 768px) {
        display: flex;
        justify-content: center;

        img {
          height: 100%;
          width: 100%;
          align-items: center;
        }
      }
    }

    .btn {
      margin-top: 15px;
    }

    &__copy {
      color: #000;
      line-height: 1.3;
    }

    @media (min-width: 768px) {
      .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      &__image {
        order: 1;
      }
    }
  }

  .implant__additional-text {
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;

    @media (min-width: 768px) {
      padding-top: 10px;
    }
  }
}
