#section-specials {
  background-image: url('/assets/specials-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 30px;

  .heading {
    padding-top: 10px;
    padding-bottom: 10px;

    &__title {
      margin-bottom: 5px;
      line-height: 1;
      color: #ffda00;
      font-weight: 400;
      font-family: $ff-pangolin;
    }

    &__sub-title {
      color: #fff;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 100;
      font-family: $ff-poppins;
    }

    &__byline {
      color: #fff;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  .specials__card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;

      .specials-card {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  @media (min-width: 992px) {
    .break-line {
      width: 2px;
      height: 250px;
      background-color: #fff;
    }
  }

  .specials-card {
    background: rgba(255, 255, 255, 0);
    text-align: center;
    width: 30%;
    position: relative;
    border-radius: 0;

    &__top {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //margin-bottom: -85px;
      margin-left: auto;
      margin-right: auto;
      width: 209px;
      height: 209px;
      //border: solid 4px white;
      border-radius: 50%;
      color: white;
      font-weight: 900;
      font-family: $ff-lato;
      font-size: 84px;
    }

    &__bottom {
      padding: 20px;
    }

    &__cost {
      color: white;
      font-weight: 700;
      font-family: $ff-mont;
      font-size: 72px;
      margin-top: 30px;
      margin-bottom: 0;
      line-height: 1;

      &::before {
        content: '$';
        position: relative;
        font-size: 35px;
        left: -5px;
        top: -40px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }

      &--free {
        font-size: 55px;
        margin-top: 0;

        &::before {
          content: '';
          display: none;
        }
      }
    }

    &__savings {
      font-family: $ff-josef;
      font-size: 22px;
      font-weight: 400;
      color: #fff;
    }

    &__title {
      font-family: $ff-lato;
      color: #fff;
      font-weight: 900;
      line-height: 1.1;
      margin-bottom: 10px;
    }

    &__copy {
      color: #fff;
      line-height: 1.5;
      margin-bottom: 70px;
      font-size: 17px;
    }

    &__codes {
      font-size: 14px;
      margin-bottom: 35px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
    }

    &:nth-child(1) {
      .specials-card__top {
        background-color: #00aab4;
      }

      .specials-card__title {
        color: #00aab4;
      }
    }

    &:nth-child(3) {
      .specials-card__top {
        background-color: #f15300;
      }

      .specials-card__title {
        color: #f15300;
      }
    }

    &:nth-child(5) {
      .specials-card__top {
        background-color: #68b403;
      }

      .specials-card__title {
        color: #68b403;
      }
    }
  }
}
