.tour {
  background-image: url(/assets/tour-bg-tile.svg);
  background-size: contain;
  color: #fff;
  background-color: #5b4571;
  padding-top: 25px;
  padding-bottom: 55px;
  position: relative;

  .heading {
    margin-bottom: 25px;

    &__title {
      color: #fbd801;
      font-family: $ff-pangolin;
      margin-bottom: 10px;
    }

    &__copy {
      line-height: 1.5;
      margin-bottom: 30px;
    }
  }

  &__video-wrapper {
    padding: 30px 15px;

    @media (min-width: 768px) {
      padding: 30px 45px;
    }

    @media (min-width: 768px) {
      padding: 45px 60px;
    }
  }

  .full-width-wrapper {
    position: relative;
  }

  &--full-width,
  .owl-carousel {
    position: static !important;
  }

  .owl-nav {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  img {
    max-height: 187px !important;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 550px) {
    img {
      max-height: 293px !important;
    }
  }

  @media (min-width: 768px) {
    padding-bottom: 95px;

    img {
      max-height: 480px !important;
    }
  }

  @media (min-width: 992px) {
    img {
      max-height: 627px !important;
    }
  }

  @media (min-width: 1200px) {
    img {
      max-height: 667px !important;
    }
  }
}
